/* class */
.code{
    font-family: monospace;
    font-size: 24px;
    color: rgb(50, 10, 10);
}

/* element */
h1{
    font-family: sans-serif;
    color: rgb(15, 15, 25);
}

h2, h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: rgb(100, 100, 200);
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: rgb(100, 100, 100);
}

html {
    /* background-color: rgb(177, 209, 73); */
}

/* universal */
*{
    /* margin: 10px; */
    /* padding: 10px; */
    /* background-color: rgb(204, 204, 204); */
    /* border-radius: 10px; */
}



/* descending */
p span{
    color: rgb(150, 100, 210);
    text-decoration: underline;
}

a{
     text-transform: uppercase;
     text-decoration: underline;
}

p > a {
    color: rgb(185, 64, 185);
    text-decoration: none;
}

 /* selector adyacente  */
h1 + h2 {
    color: rgb(50, 150, 50);
    text-transform: uppercase;
}

.interlineado {
    line-height: 20pt;
    word-spacing: 1cm;
}

.bonito{
    background-color: rgb(169, 243, 255);
}

.cajita{
    width: fit-content;
}

.redondo{
    border-radius: 10pt;
}

.margen{
    margin-left: 2rem;
    margin-top: 2rem;
}

.border{
    border-style: solid;
    border-width: 5px;
    border-color: deeppink;
}

.fondo-azul{
    background-color: blue;
}

.padd{
    padding: 2em;
}

.fondo-img{
    background-image: url('https://picsum.photos/50');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: scroll;
}

.posicion{
    position: relative;
    top: 2cm;
}

.relativo{
    /* no afecta al resto */
    position: relative;
    left: 2cm;
}

.absoluto{
    /* si afecta al resto , coloca encina de los demas */
    position: absolute;
    left: 2cm;

}


.flotante{
    float: right;
}

.inline{
    display: inline;
}

.sobresale{
    overflow: hidden;
}
